<div class="box">
  <div class="legend">
    Create New Agent
    <span style="float: right;">
      <%= link_to "Back", admin_agents_path, class: "btn btn-small" %>
    </span>
  </div>

  <%= render 'form' %>
</div>
